body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    background-color: rgb(42, 42, 207);
    color: rgb(255, 255, 255);
    padding: 0.3em;
    margin: 0.1em;
    border: 4px solid rgb(0, 0, 0);
    font-size: 20px;
}

.right-header{
    font-size: 19px;
}


.left-column{
    width: 40%;
    flex-direction: column;
    margin-right: 1.5em;
    margin-left: 17em;
}

.right-column{
    width: 30%;
    flex-direction: column;
}

.designer-info {
    text-align: left;
    max-width: 100%;
}

/* utility classes */
.justify-content-center{
    justify-content: center;
}

.d-flex {
    display: flex;
}

.row{
    flex-direction: row;
}

.text-center{
    text-align: center;
}


/* 
main div:first-child {
    max-width: 55%;
    text-align: right;
    padding-top: 4em;
} */

.blue-bar {
    border-top: 1.5em solid #2973d154;
    width: 90%;
    height: 3vh;
    margin-top: 2em;
}

/* main div:nth-child(2) {
    max-width: 20%;
    text-align: left;
    padding: 1em;
    padding-top: 5em;
    padding-left: 8em;
} */

img {
    max-width: 100%;
    /* position:absolute; */
    /* top: 10em; */
    /* padding-left: 5em; */
    margin-top: 3em;

}

.bottom-header {
    background-color: blue;
    padding: 2em;
    margin: 0.1em;
    border: 4px solid rgb(0, 0, 0);
    padding-top: 3em;
    padding-bottom: 1em;
    margin-top: 6.8em;
}