body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    text-align: center;
    background-color: rgb(42, 42, 207);
    color: rgb(255, 255, 255);
   padding: 0.3em;
   margin: 0.1em;
   border: 4px solid rgb(0, 0, 0);
   font-size: 20px;
}

.d-flex {
    display: flex;
    flex-direction: row;
    
}

.designer-info{
    text-align: left;
    padding-left: 30em;
    max-width: 100%;
}


main div:first-child{
    max-width: 55%;
    text-align: right;
   padding-top: 3em;
 
}

main div:nth-child(2){
    max-width: 40%;
    text-align: left;
    padding: 1em;
    padding-top: 7em;
    padding-left: 4em;
}